# keep dependencies sorted alphabetically.

black  # Uncompromising code formatter: https://github.com/psf/black

boto3  # Amazon AWS SDK. https://boto3.amazonaws.com/

flask  # python based web framework: https://flask.palletsprojects.com/en/1.1.x/
flask-socketio  # flask/socket-io integration for web-server

pre-commit  # Framework for multi langugage precommit hooks: https://pre-commit.com

pulsar-client  #  python client for pulsar: https://pulsar.apache.org/docs/en/client-libraries-python

python-socketio[client]  # python client for socketio, sync
